h1 {
  text-align: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item-card {
    width: 18%;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  .item-card .rarity {
    display: inline-flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }

  .common {
    background-color: #353635;
  }
  
  .uncommon {
    background-color: #21f305;
  }
  
  .rare {
    background-color: #00aeff;
  }
  
  .mythic-rare {
    background-color: #0004ff;
  }
  
  .special {
    background-color: #fd6ee1;
  }
  
  .basic-land {
    background-color: #d69b07;
  }

  .search-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 50px;
  }